<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ввод тренировки - {{ day }}</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>

<h1>Ввод тренировки - {{day}}</h1>

<form id="workoutForm" method="POST">
    <label for="sets">Количество подходов:</label>
    <input type="number" id="sets" name="sets" min="1" value="1" required>

    <div id="setInputs"></div>

    <button type="submit">Далее</button>
</form>

</body>
</html>
