<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Тренировка - Расчет</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>

<h1>Расчет тренировки</h1>

<form id="workoutCalculationForm" method="POST" action="/workout_calculation">
    <div id="setInputs">
        <!-- Данные о подходах будут вставлены сюда с помощью JavaScript -->
    </div>

    <input type="hidden" name="sets" value="{{ sets }}">

    <button type="submit">Рассчитать</button>
</form>

<p class="result" id="totalWeight"></p>

<script>
    // Количество подходов передается с сервера
    const sets = {
    {
        sets
    }
    }
    ;
    const setInputsContainer = document.getElementById('setInputs');

    // Создаем поля для каждого подхода
    for (let i = 0; i < sets; i++) {
        const setDiv = document.createElement('div');
        setDiv.className = 'set';

        const approachLabel = document.createElement('span');
        approachLabel.textContent = `Подход ${i + 1}`;
        approachLabel.style.fontWeight = 'bold';
        approachLabel.style.marginBottom = '10px';
        approachLabel.style.display = 'block';

        const weightLabel = document.createElement('label');
        weightLabel.textContent = 'Вес:';
        const weightInput = document.createElement('input');
        weightInput.type = 'number';
        weightInput.name = `set[${i}][weight]`;
        weightInput.classList.add('weight');

        const repsLabel = document.createElement('label');
        repsLabel.textContent = 'Повторения:';
        const repsInput = document.createElement('input');
        repsInput.type = 'number';
        repsInput.name = `set[${i}][reps]`;
        repsInput.classList.add('reps');

        setDiv.appendChild(approachLabel);
        setDiv.appendChild(weightLabel);
        setDiv.appendChild(weightInput);
        setDiv.appendChild(repsLabel);
        setDiv.appendChild(repsInput);

        setInputsContainer.appendChild(setDiv);
    }

</script>

</body>
</html>
