<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Выбор дня недели</title>
  <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>

<h1>Выберите день недели</h1>

<ul id="days">
  <li><a href="{{ url_for('exercise') }}">Понедельник</a></li>
  <li><a href="{{ url_for('exercise') }}">Вторник</a></li>
  <li><a href="{{ url_for('exercise') }}">Среда</a></li>
  <li><a href="{{ url_for('exercise') }}">Четверг</a></li>
  <li><a href="{{ url_for('exercise') }}">Пятница</a></li>
  <li><a href="{{ url_for('exercise') }}">Суббота</a></li>
  <li><a href="{{ url_for('exercise') }}">Воскресенье</a></li>
</ul>

<script>
  // Обработка кликов на элементах списка
  document.querySelectorAll('#days li').forEach(function(day) {
    day.addEventListener('click', function() {
      const link = this.getAttribute('data-link');
      if (link) {
        window.location.href = link; // Переход на указанную страницу
      }
    });
  });
</script>

</body>
</html>
