<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Выбор дня недели</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>

<h1>Выберите день недели</h1>

<ul id="days">
    <li><a href="{{ url_for('types_of_exercises', day='Понедельник') }}">Понедельник</a></li>
    <li><a href="{{ url_for('types_of_exercises', day='Вторник') }}">Вторник</a></li>
    <li><a href="{{ url_for('types_of_exercises', day='Среда') }}">Среда</a></li>
    <li><a href="{{ url_for('types_of_exercises', day='Четверг') }}">Четверг</a></li>
    <li><a href="{{ url_for('types_of_exercises', day='Пятница') }}">Пятница</a></li>
    <li><a href="{{ url_for('types_of_exercises', day='Суббота') }}">Суббота</a></li>
    <li><a href="{{ url_for('types_of_exercises', day='Воскресенье') }}">Воскресенье</a></li>
</ul>

</body>
</html>
