<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Выбор упражнения</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>

<h1>Выберите упражнение на {{day}}</h1>

<ul id="exercises">
    <li><a href="{{ url_for('exercise', exercise1='Жим штанги лежа', day=day) }}">Жим штанги лежа</a></li>
    <li><a href="{{ url_for('exercise', exercise1='Жим гантелей лежа', day=day) }}">Жим гантелей лежа</a></li>
    <li><a href="{{ url_for('exercise', exercise1='Сведение рук в кроссовере', day=day) }}">Сведение рук в кроссовере</a></li>
    <li><a href="{{ url_for('exercise', exercise1='Сгибания рук в кроссовере', day=day) }}">Сгибания рук в кроссовере</a></li>
    <li><a href="{{ url_for('exercise', exercise1='Сгибание рук с гантелями хватом «молоток»', day=day) }}">Сгибание рук с гантелями хватом «молоток»</a></li>
    <li><a href="{{ url_for('exercise', exercise1='Разведения гантелей в стороны', day=day) }}">Разведения гантелей в стороны</a></li>
    <li><a href="{{ url_for('exercise', exercise1='Тяга блока к груди', day=day) }}">Тяга блока к груди</a></li>
    <li><a href="{{ url_for('exercise', exercise1='Становая тяга', day=day) }}">Становая тяга</a></li>
    <li><a href="{{ url_for('exercise', exercise1='Гиперэкстензии', day=day) }}">Гиперэкстензии</a></li>
    <li><a href="{{ url_for('exercise', exercise1='Разгибание ног в тренажере', day=day) }}">Разгибание ног в тренажере</a></li>
    <li><a href="{{ url_for('exercise', exercise1='Приседания', day=day) }}">Приседания</a></li>
    <li><a href="{{ url_for('exercise', exercise1='Румынская становая тяга с гантелями', day=day) }}">Румынская становая тяга с гантелями</a></li>
    <li><a href="{{ url_for('exercise', exercise1='Махи гирей', day=day) }}">Махи гирей</a></li>
</ul>

</body>
</html>
